<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Event Details</h1>
          <p>
            Hath after appear tree great fruitful green dominion moveth sixth
            abundantly image that midst of god day multiply you’ll which
          </p>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Event Details
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="products related-products section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="title text-center">
          <h2>You may like this</h2>
          <p>The best Online sales to shop these weekend</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/322.jpg"
                alt="product-img"
            /></a>
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/444.jpg"
                alt="product-img"
            /></a>
          </div>

          <span class="onsale">Sale</span>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a routerLink="/product-single">Kirby Shirt</a>
            </h2>
            <span class="price"> $329.10 </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/111.jpg"
                alt="product-img"
            /></a>
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/222.jpg"
                alt="product-img"
            /></a>
          </div>

          <span class="onsale">Sale</span>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a routerLink="/product-single">Kirby Shirt</a>
            </h2>
            <span class="price"> $329.10 </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
